DATABASE_URL="postgresql://postgres:BM8R48vPYBiYukRf@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"
DIRECT_DATABASE_URL="postgresql://postgres:BM8R48vPYBiYukRf@db.oknknckrwgnuwmrqrxnf.supabase.co:5432/postgres?sslmode=require"
NEXT_PUBLIC_APP_NAME="Objetives App"
NEXT_PUBLIC_API_BASE_URL="/api"
DEFAULT_USER_ID="00000000-0000-0000-0000-000000000000"
NEXT_PUBLIC_SUPABASE_URL="https://oknknckrwgnuwmrqrxnf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9rbmtuY2tyd2dudXdtcnFyeG5mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MDI2ODQsImV4cCI6MjA5MTk3ODY4NH0.2Vhet4CBcuV9hZyfqiWEDPQge3AnjTaP4bhQyovfzsI"
