DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/objetives_app"
NEXT_PUBLIC_APP_NAME="Objetives App"
NEXT_PUBLIC_API_BASE_URL="/api"
DEFAULT_USER_ID="00000000-0000-0000-0000-000000000000"
NEXT_PUBLIC_SUPABASE_URL="https://oknknckrwgnuwmrqrxnf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_SN421nbSolPCWKpjE7Wjaw_RDIKsKU_"
